body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;

  h1, h2, h3, h4 {
  text-align: center;
  }
}

.container {

  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  line-height: 1.5;

  p {
  padding: 10px 20px;
  }

}

h2 {
    color: blue;
}


